/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1.5em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: none;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;

  & + table {
    margin-top: 1.5em;
  }
}

thead {
  background-color: $primary-color;
  color: #fff;
  border-bottom: none;
}

th {
  padding: 0.875em 1em;
  font-weight: 600;
  text-align: left;
  border-right: none;
  letter-spacing: 0.01em;
}

td {
  padding: 0.875em 1em;
  border-bottom: 1px solid $border-color;
  border-right: none;
}

tr {
  transition: $global-transition;

  &:hover {
    background-color: rgba($primary-color, 0.03);
  }

  &:last-child td {
    border-bottom: none;
  }
}

tr, td, th {
  vertical-align: middle;
}

tbody tr:nth-child(even) {
  background-color: rgba($lighter-gray, 0.5);
}