/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 16;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 1.3em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$monospace                  : "JetBrains Mono", "Fira Code", Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale */
$type-size-1                : 2.5em;    // ~40px
$type-size-2                : 2em;      // ~32px
$type-size-3                : 1.625em;  // ~26px
$type-size-4                : 1.25em;   // ~20px
$type-size-5                : 1em;      // ~16px
$type-size-6                : 0.875em;  // ~14px
$type-size-7                : 0.75em;   // ~12px
$type-size-8                : 0.625em;  // ~10px


/*
   Colors
   ========================================================================== */

/* Modern academic color palette - Deep blue primary with warm accents */
$gray                       : #64748b;
$dark-gray                  : #334155;
$darker-gray                : #1e293b;
$light-gray                 : #94a3b8;
$lighter-gray               : #f1f5f9;

$body-color                 : #fff;
$background-color           : #fff;
$code-background-color      : #f8fafc;
$code-background-color-dark : $light-gray;
$text-color                 : $dark-gray;
$border-color               : #e2e8f0;

/* Primary: Deep scholarly blue */
$primary-color              : #1e3a5f;
$success-color              : #059669;
$warning-color              : #d97706;
$danger-color               : #dc2626;
$info-color                 : #0369a1;

/* Accent colors for visual interest */
$accent-color               : #0284c7;
$accent-color-light         : #38bdf8;
$accent-warm                : #f59e0b;

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #0077b5;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #1da1f2;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #ff0000;
$xing-color                 : #006567;


/* links */
$link-color                 : $accent-color;
$link-color-hover           : darken($accent-color, 15%);
$link-color-visited         : mix($primary-color, $accent-color, 30%);
$masthead-link-color        : $dark-gray;
$masthead-link-color-hover  : $primary-color;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 8px;
$border-radius-sm           : 4px;
$border-radius-lg           : 12px;
$box-shadow                 : 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06);
$box-shadow-lg              : 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.08);
$box-shadow-hover           : 0 20px 40px -10px rgba(0, 0, 0, 0.15);
$navicon-width              : 28px;
$navicon-height             : 3px;
$global-transition          : all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
